/* Logo Navbar */
.logo-fluid {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0;
}
.sidenav .user-view {
    padding: 47px 20px;
}
.logo-trauen {
    width: 200px;
    margin-top: 1.5vh;
}